---
- name: Resolve platform specific vars
  ansible.builtin.include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_facts["distribution"] }}-{{ ansible_facts["distribution_release"] }}.yml'
        - '{{ ansible_facts["distribution"] }}.yml'
        - '{{ ansible_facts["os_family"] }}.yml'
      skip: true
      paths:
        - '{{ role_path }}/vars'
- name: Downloading {{ kpack_url }} to {{ kpack_install_exe }}
  become: true
  become_user: root
  ansible.builtin.get_url:
    url: '{{ kpack_url }}'
    checksum: '{{ kpack_checksum }}'
    dest: '{{ kpack_install_exe }}'
    mode: '755'
- name: Linking {{ kpack_link }} to {{ kpack_install_exe }}
  become: true
  become_user: root
  ansible.builtin.file:
    src: '{{ kpack_install_exe }}'
    dest: '{{ kpack_link }}'
    state: link
